# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Build
dist
build

# Turbo
.turbo

# Environment
.env
.env.local
.env.production
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
packages/db/src/generated

# Debug
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

.vercel
